In [1]:
'hello'

'hello'

In [2]:
import pandas as pd
df = pd.read_csv('1-year-daily-weather-data.csv')
df

           date  temperature  rainfall  humidity
0    2023-07-01         24.5      0.20        68
1    2023-07-02         24.2      9.20        66
2    2023-07-03         22.1      5.80        81
3    2023-07-04         22.4     19.40        81
4    2023-07-05         21.8     22.20        78
..          ...          ...       ...       ...
361  2024-06-26         23.4      0.16        74
362  2024-06-27         23.4      0.09        72
363  2024-06-28         23.4      0.04        70
364  2024-06-29         24.3      0.05        70
365  2024-06-30         24.3      4.22        71

[366 rows x 4 columns]

In [3]:
temp = df['temperature']
temp

0      24.5
1      24.2
2      22.1
3      22.4
4      21.8
       ...
361    23.4
362    23.4
363    23.4
364    24.3
365    24.3
Name: temperature, Length: 366, dtype: float64

In [4]:
import numpy as np
temp = np.array(temp)
temp

array([24.5, 24.2, 22.1, 22.4, 21.8, 21.8, 21.8, 22.1, 23.1, 23.7, 22.4,
       23.5, 23.6, 23.5, 23.9, 23.9, 24. , 23.9, 23.1, 23.3, 24. , 23.3,
       22.5, 21.8, 20.6, 20. , 21.9, 22.4, 23.5, 23.8, 24. , 23.5, 23.7,
       23.9, 23.7, 23.9, 24.4, 24.3, 23.9, 24.7, 25. , 24.6, 25.1, 24.7,
       25.1, 25.1, 25.1, 25.3, 24.4, 23.6, 23.9, 25.7, 25.2, 25.9, 25.6,
       25.8, 24.3, 24.9, 25.5, 25.2, 25.2, 25.6, 24.4, 23. , 23.4, 22. ,
       20.5, 23.3, 23.2, 23.1, 22.7, 22.7, 22.9, 23.2, 23. , 23.1, 23.6,
       21.6, 23.1, 23.2, 23.5, 23.6, 23.5, 23.5, 23.5, 23.3, 23.5, 23.8,
       23.4, 22.7, 22.3, 22.4, 22.7, 22.3, 22.9, 23.8, 24.1, 23.8, 23.6,
       25.4, 23.8, 25.1, 23.8, 23.7, 23.6, 23.8, 24.1, 23.6, 23.4, 24. ,
       24.2, 23.7, 23.8, 24.3, 23.6, 23.2, 23.2, 23.5, 23.6, 23.6, 23.2,
       22.2, 22.2, 23.1, 22.7, 23.1, 22.7, 22.3, 22.2, 22. , 21.9, 22.4,
       21.6, 21.4, 21. , 21. , 19.2, 21.3, 22.9, 24.2, 24.1, 22.3, 22.4,
       23.3, 22.7, 22.2, 22.4, 21.8, 21.9, 22.2, 22.1, 22.1, 21.3, 22. ,
       21.8, 21.3, 20.5, 22.5, 22.7, 24.6, 23. , 22.4, 22.6, 22.3, 21.9,
       21.1, 20.4, 20.7, 22.3, 21. , 21.3, 20.4, 20.6, 21.3, 21.2, 20.8,
       20.6, 21.8, 21.4, 20.7, 21.4, 21.4, 20.7, 21.3, 21.2, 21.1, 21.2,
       20.9, 20.6, 21.5, 20.4, 20.3, 20.9, 21.6, 21.7, 21.6, 22.4, 22.7,
       22.6, 22.8, 22.3, 22.6, 23.5, 23.6, 23.7, 23.8, 24. , 23.5, 23.4,
       22.2, 21.6, 22.3, 22.2, 22.5, 24. , 24.4, 24.8, 24.9, 24.3, 24.6,
       24.6, 24.9, 25.3, 24.8, 23.7, 22.8, 22.8, 23. , 23.8, 23.6, 23.4,
       24.1, 24.6, 24.6, 25.3, 26.3, 26.1, 26.3, 27.4, 25.6, 24.2, 24.2,
       25.3, 25.2, 25.3, 26. , 26.1, 27.3, 27.3, 27.4, 28.2, 28.3, 28.3,
       27.7, 27.8, 28. , 28.4, 28.8, 29.5, 28.4, 27.4, 27.7, 27.8, 28.4,
       25.4, 27. , 28.1, 28.3, 28.2, 28.3, 28.6, 29. , 29.3, 29. , 28.6,
       29. , 30. , 30.2, 30.3, 30.4, 30.8, 29.8, 29.5, 28.4, 28.1, 28.8,
       28.2, 28.4, 28.8, 29.2, 29.6, 30.5, 30.5, 29.8, 30. , 31.2, 30.9,
       30.6, 30.1, 30.2, 30.4, 30.6, 30.9, 30.8, 31.2, 31.4, 31.3, 31.3,
       30.7, 31.2, 31.5, 28.2, 28. , 28.7, 27.5, 28.6, 28.7, 28.3, 29.2,
       29.1, 27.3, 26.5, 26. , 27. , 26.2, 25.4, 27.9, 28.3, 27.4, 23.6,
       25. , 25.1, 26. , 27.2, 27.4, 27.9, 26.5, 26.4, 26.4, 26. , 24.9,
       24.9, 22.4, 23.8, 22.6, 23.8, 23.6, 23.5, 21.4, 24.2, 25. , 25.9,
       25.4, 25.5, 25.6, 24.6, 23.3, 22.8, 23.4, 22.8, 24. , 23.4, 23.4,
       23.4, 24.3, 24.3])

In [3]:
from keras.preprocessing.timeseries  import TimeseriesGenerator
temp.lag = 5

ModuleNotFoundError: No module named 'keras.preprocessing.timeseries'